<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>

    <h1>Checking: <span class="js-queries"></span></h1>

    <h3>Project: Bellingcat</h3>

    <div class="reports">
      <% data.reports.each do |r| %>
        <div class="report <%= r.type %> <%= r.archive_status %>">

          <!-- Media object -->
          <div class="media_object">
            <img src="/images/prototype/<%=r.media_object%>">
          </div>

          <!-- Title -->
          <div class="title">
            <%= r.title %>
          </div>

          <!-- Description -->
          <div class="description">
            <%= r.description %>
          </div>

          <!-- Source: Often A username, or channel name -->
          <div class="source-username">
            <%= r.source_username %>
          </div>

          <!-- Source domain: eg youtube -->
          <div class="added-by">
            <span class="source-domain"><%= r.source_domain %></span> 
            <span class="datestamp"><%= r.added_datestamp %></span> 
            <span class="username"><%= r.added_by %></span>
          </div>

          <!-- Verification status: eg, false -->
          <div class="verification-status">
            <%= r.verification_status %>
          </div>

          <div class="check_log">
            <h4><%= r.checklog.count %> Verification notes</h4>
            <ul>
            <% r.checklog.each do |entry| %>
              <li>
                <span class="username"><%= entry.username %></span> 
                <span class="log-entry"><%= entry.log_entry %></span>
                <span class="timestamp"><%= entry.timestamp %></span>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>   
    </div>

    <footer class="meta">
      <h4 class="credit--primary">A <a href="http://checkdesk.org">Checkdesk</a> experiment.</h4>
      <h4 class="credit--secondary">Based on <a href="https://github.com/voxmedia/meme">Meme</a> by Vox Media.</h4>
      <h4 class="feedback"><a href="https://docs.google.com/a/meedan.com/forms/d/1wJn6iodjKaIY-4DxbVsoO_saLfFRB_And2RxHm5-eYc/edit?uiv=1">I wish this page would ...</a></h4>
    </footer>
    
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>
  </body>
</html>
