<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>

    <h1>Checking: <span class="js-queries"></span></h1>

    <h3>Project: Bellingcat 
            <i class="fa fa-archive"></i>
      <i class="fa fa-at"></i>
      <i class="fa fa-balance-scale"></i>
      <i class="fa fa-ban"></i>
      <i class="fa fa-bars"></i>
      <i class="fa fa-bell"></i>
      <i class="fa fa-bell-o"></i>
      <i class="fa fa-bell-slash-o"></i>
      <i class="fa fa-bookmark"></i>
      <i class="fa fa-bug"></i>
      <i class="fa fa-bullhorn"></i>
      <i class="fa fa-calendar"></i>
      <i class="fa fa-camera"></i>
      <i class="fa fa-caret-square-o-up"></i>
      <i class="fa fa-certificate"></i>
      <i class="fa fa-chain"></i>
      <i class="fa fa-chain-broken"></i>
      <i class="fa fa-check"></i>
      <i class="fa fa-check-circle"></i>
      <i class="fa fa-chrome"></i>
      <i class="fa fa-clone"></i>
      <i class="fa fa-close"></i>
      <i class="fa fa-close"></i>
      <i class="fa fa-code"></i>
      <i class="fa fa-code-fork"></i>
      <i class="fa fa-cog"></i>
      <i class="fa fa-comment"></i>
      <i class="fa fa-commenting-o"></i>
      <i class="fa fa-comments"></i>
      <i class="fa fa-copyright"></i>
      <i class="fa fa-creative-commons"></i>
      <i class="fa fa-crop"></i>
      <i class="fa fa-desktop"></i>
      <i class="fa fa-edit"></i>
      <i class="fa fa-ellipsis-h"></i>
      <i class="fa fa-ellipsis-v"></i>
      <i class="fa fa-envelope-o"></i>
      <i class="fa fa-exclamation"></i>
      <i class="fa fa-eye"></i>
      <i class="fa fa-eye-slash"></i>
      <i class="fa fa-facebook-f"></i>
      <i class="fa fa-file-audio-o"></i>
      <i class="fa fa-file-movie-o"></i>
      <i class="fa fa-firefox"></i>
      <i class="fa fa-flag"></i>
      <i class="fa fa-flash"></i>
      <i class="fa fa-folder-o"></i>
      <i class="fa fa-globe"></i>
      <i class="fa fa-hand-pointer-o"></i>
      <i class="fa fa-hdd-o"></i>
      <i class="fa fa-heart"></i>
      <i class="fa fa-home"></i>
      <i class="fa fa-image"></i>
      <i class="fa fa-inbox"></i>
      <i class="fa fa-info-circle"></i>
      <i class="fa fa-instagram"></i>
      <i class="fa fa-life-bouy"></i>
      <i class="fa fa-lightbulb-o"></i>
      <i class="fa fa-line-chart"></i>
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-map"></i>
      <i class="fa fa-map-marker"></i>
      <i class="fa fa-map-pin"></i>
      <i class="fa fa-minus-square"></i>
      <i class="fa fa-minus-square-o"></i>
      <i class="fa fa-music"></i>
      <i class="fa fa-paper-plane-o"></i>
      <i class="fa fa-phone"></i>
      <i class="fa fa-power-off"></i>
      <i class="fa fa-question"></i>
      <i class="fa fa-quote-left"></i>
      <i class="fa fa-random"></i>
      <i class="fa fa-refresh"></i>
      <i class="fa fa-remove"></i>
      <i class="fa fa-retweet"></i>
      <i class="fa fa-rss-square"></i>
      <i class="fa fa-send"></i>
      <i class="fa fa-share"></i>
      <i class="fa fa-share-alt"></i>
      <i class="fa fa-sitemap"></i>
      <i class="fa fa-sliders"></i>
      <i class="fa fa-sort"></i>
      <i class="fa fa-sort-down"></i>
      <i class="fa fa-soundcloud"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-sticky-note"></i>
      <i class="fa fa-street-view"></i>
      <i class="fa fa-tags"></i>
      <i class="fa fa-tasks"></i>
      <i class="fa fa-terminal"></i>
      <i class="fa fa-thumb-tack"></i>
      <i class="fa fa-times-circle"></i>
      <i class="fa fa-toggle-on"></i>
      <i class="fa fa-trophy"></i>
      <i class="fa fa-tumblr"></i>
      <i class="fa fa-unlock-alt"></i>
      <i class="fa fa-upload"></i>
      <i class="fa fa-user-plus"></i>
      <i class="fa fa-users"></i>
      <i class="fa fa-video-camera"></i>
      <i class="fa fa-warning"></i>
      <i class="fa fa-wrench"></i>
      <i class="fa fa-youtube-play"></i>
<i class="fa fa-circle-o"></i>
 <i class="fa fa-check-circle-o"></i>
    </h3>

    <div class="reports">
      <% data.reports.each do |r| %>
        <div class="report <%= r.type %> <%= r.archive_status %>">

          <!-- Media object -->
          <div class="media-object">
            <img src="/images/prototype/<%=r.media_object%>">
          </div>

          <!-- Title -->
          <div class="title">
            <i class="fa fa-<%= r.source_type_icon %>"></i>
            <%= r.title %>
          </div>

          <!-- Description -->
          <div class="description">
            <%= r.description %>
          </div>

          <!-- Source: Often A username, or channel name -->
          <div class="source-username">
            <%= r.source_username %>
          </div>

          <!-- Source domain: eg youtube -->
          <div class="added-by">
            <span class="source-domain">
              <i class="fa fa-<%= r.source_domain_icon %>"></i>
            </span> 
            <span class="datestamp"><%= r.added_datestamp %></span> 
            <span class="username"><%= r.added_by %></span>
          </div>

          <!-- Verification status: eg, false -->
          <div class="verification-status <%= r.verification_status %>">
            <i class="fa fa-random"></i> 
            <%= r.verification_status %> <span class="attribution-team">by Bellingcat</span>
          </div>

          <div class="checklog">
            <div class="checklog--header">
              <h4><%= r.checklog.count %> Verification notes</h4>
              <div class="checklog--actions">
                <i class="fa fa-share"></i> 
                <i class="fa fa-flag"></i>
              </div>
            </div>
            <ul>
            <% r.checklog.each do |entry| %>
              <li class="checklog--entry">
                <div class="checklog--entry-icons">
                  <img class="avatar" src="/images/prototype/<%= entry.username %>.png">
                </div>
                <div class="checklog--entry-body">
                  <span class="username"><%= entry.username %></span> 
                  <span class="log-entry"><%= entry.log_entry %></span>
                  <span class="timestamp"><%= entry.timestamp %></span>
                </div>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      <% end %>   
    </div>

    <footer class="meta">
      <h4 class="credit--primary">A <a href="http://checkdesk.org">Checkdesk</a> experiment.</h4>
      <h4 class="feedback"><i class="fa fa-lightbulb-o"></i>  <a href="https://docs.google.com/a/meedan.com/forms/d/1wJn6iodjKaIY-4DxbVsoO_saLfFRB_And2RxHm5-eYc/edit?uiv=1">I wish this page would ...</a></h4>
    </footer>
    
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'settings' %>
  </body>
</html>
